@import "node_modules/nord/src/sass/nord";

@font-face {
  font-family: Yacimiento;
  src: url(/fonts/Yacimiento.ttf);
  font-weight: bold;
}

html, body {
  background-color: $nord0;
  color: $nord6;

  margin: 0;
  height: 100%;
}

h1, h2 {
  font-family: Yacimiento;
  color: $nord6;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}
